/** 
font-family: 'Bebas Neue', cursive;
font-family: 'Roboto Condensed', sans-serif; 
#295f2d #FFE67C #FEE715 #006B38
**/

/* Menu Bootstrap*/
.navbar{
  background-color: #295f2d;
}

.navbar-brand{
  font-family: 'Bungee', cursive;
}

.nav-item{
  margin: 5px;
  font-family: 'Roboto Condensed', sans-serif; 
  color: #212121;
  font-weight: bold;
}

.nav-item a:hover{
  background-color: #FFE67C;
  padding: 20px;
}

/*Fim do menu*/

/*CONFIGURAÇÕES GERAIS*/
body, html {
  height: 125%;
  padding: 0px;
  margin: 0px;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
  /** essa parte do body seria para ajudar no display mobile **/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* IMAGEM E TEXTO CENTRAL 1*/
#sobre, .hero-image {
  /* "linear-gradient" escurece a imagem e facilita a leitura */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imagens/pizza1.jpg');
  height: 100%;
  /* compatibilidade com multiplas telas*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* texto centralizado */
.hero-text {
  font-family: 'Bungee', cursive;
  background-color: #FFE67C;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #212121;
}

/*Pagina carregada*/
#box{
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
  display: block;
  overflow: visible;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* FOOTER */

.footer{
  background: white;
  color: #212121;
  width: 100%;
  height: 30%;
  display: inline-block;
  bottom: 0;
  position: relative;
}

.footer .footer-conteudo{
  display: wrap;
  min-height: 200px;
  padding: 10px;
}

.footer-contato{
  overflow:hidden;
  margin:10px;
  min-height:170px;
}

.footer .footer-conteudo .footer-sobre, .footer-contato{
  flex: 1;
  padding: 15pm;
  margin: 20px;
  margin-bottom: 0px;
  display: inline-block;
}

@media screen and (max-width: 400px) {
  .footer-sobre { 
   float: none;
   margin-right:0;
   width:auto;
   border:0;
 }
}

.footer-conteudo{
box-sizing: border-box;
width: 100%;
text-align: left;
padding: 20px 20px 20px 20px;
}

.footer .footer-fim{
  background: #212121;
  color: #6e6c6c;
  height: 50px;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
}

/* AJUSTES */

.form-group{
  width: 250px;
}
.fa{
  color: rgb(10, 191, 247);
  padding: 5px;
  margin-bottom: 5px;
}

a{
 text-decoration: none;
 color: #221111;
}

.btn{
  background-color: #212121;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   
}

#logo{
  width: 280px;
  height: 105px;
}
